body, html {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
}
p {
	font-weight: 400;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: rgba(0,0,0,1);
	font-weight: 500;
}
h3,
h4 {
	text-align: center;
	word-wrap: normal;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 30px;
}
h2,
h4,
.dot {
	color: #539e4c;
}
.card-body .cr1,
.card-body .cr2 {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: center;
}
.ftr {
	text-align: center;
	color: rgba(153,153,153,1);
}
.logo-img {
	max-width: 100%;
	border: 0px solid;
	border-color: currentColor;
	width: 48px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: transparent;
}
/* Theme default colors */
.icon-tick {
    color: #16DE74;
}
.icon-cross {
    color: #FF6D4A;
}
.bg-teal-dark {
    background-color: #1c6877;
}
.bg-teal-darker {
    background-color: #2b424e;
}
.theme-bs {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
}
/* Header Section */
.header-section {
    background: rgba(255,255,255,1);
    padding: 115px 0;
}
.header-section h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 1;
}
.header-section p {
	font-size: 27px;
	line-height: 31px;
	color: rgba(0,0,0,1);
}
.header-section a {
	text-decoration: none;
	color: rgba(0,0,0,1);
}
/* Description Section */
.description-section .card {
    margin-top: -40px;
}
.description-section .card-body {
    font-size: 20px;
    line-height: 34px;
}
.description-section p {
	margin-bottom: 1.25rem;
}
/* Mobile CSS */
@media screen and (max-width: 1920px) {
.header-section h1 {
    font-size: 52px;
}
.header-section h2 {
    font-size: 34px;
}
.description-section .card-body h3 {
    font-size: 32px;
}
.description-section .card-body h4 {
    font-size: 28px;
}
}
@media screen and (max-width: 1680px) {
.header-section h1 {
    font-size: 48px;
}
.header-section h2 {
    font-size: 34px;
}
.description-section .card-body h3 {
    font-size: 32px;
}
.description-section .card-body h4 {
    font-size: 28px;
}
}
@media screen and (max-width: 1280px) {
.header-section h1 {
    font-size: 42px;
}
.header-section h2 {
    font-size: 32px;
}
.description-section .card-body h3 {
    font-size: 30px;
}
.description-section .card-body h4 {
    font-size: 26px;
}
.card-body .cr1,
.card-body .cr2 {
	text-align: center;	
	font-size: 14px;
}
}
@media screen and (max-width: 1000px) {
.header-section h1 {
    font-size: 38px;
}
.header-section h2 {
    font-size: 28px;
	word-wrap: normal;
}
.description-section .card-body h3 {
    font-size: 28px;
}
.description-section .card-body h4 {
    font-size: 24px;
}
.card-body .cr1,
.card-body .cr2 {
	text-align: center;	
	font-size: 14px;
}
}
@media screen and (max-width: 992px) {
.card-body .cr1,
.card-body .cr2 {
	display: inline-block;
	text-align: center;	
	word-break: keep-all !important;
	overflow: visible;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
}
@media screen and (max-width: 768px) {
.card-body .cr1,
.card-body .cr2 {
	display: inline-block;
	text-align: center;	
	word-break: keep-all !important;
	overflow: visible;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
}
@media screen and (max-width: 736px) {
.header-section h1 {
    font-size: 36px;
}
.header-section h2 {
    font-size: 24px;
}
.description-section .card-body h3 {
    font-size: 24px;
}
.description-section .card-body h4 {
    font-size: 22px;
}
p {
    font-size: 16px;
}
.card-body .cr1,
.card-body .cr2 {
	display: inline-block;
	text-align: center;	
	word-break: keep-all !important;
	overflow: visible;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
}
@media screen and (max-width: 576px) {
.header-section h1 {
    font-size: 32px;
}
.header-section h2 {
    font-size: 20px;
}
.description-section .card-body h3 {
    font-size: 20px;
}
.description-section .card-body h4 {
    font-size: 18px;
}
p {
    font-size: 14px;
}
.card-body .cr1,
.card-body .cr2 {
	display: inherit;	
	text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 9px;
}
}
@media screen and (max-width: 460px) {
.card-body .cr1,
.card-body .cr2 {
	display: inherit;
	text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 8px;
}
}
